<div class="task-container">
  <h1>My tasks</h1>

  <% @tasks.each do |task| %>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="completed">
    <% if task.completed == true %>
      <label class="form-check-label active" for="completed">
      <%= link_to task.title, task_path(task) %> • <%= link_to "Delete", task_path(task), method: :delete, data: {
            confirm: 'Are you sure?' } %>
    <% else %>
      <label class="form-check-label" for="completed">
      <%= link_to task.title, task_path(task) %> • <%= link_to "Delete", task_path(task), method: :delete, data: {
            confirm: 'Are you sure?' } %>
    <% end %>
    </label>
  </div>
  <% end %>

  <%= link_to 'Create new task', new_task_path %>
</div>



